{% extends "base.html" %}
{% block content %}
	
		<form method="post" action="/">
			<h2>Add Comments or Favorite Topic</h2>
			<input type="text" name="comment">
			{% if comments %}
				{% for comment in comments %}
				<input type= "hidden" name= "comment" value= "{{comment}}">
				{% endfor %}
			{% endif %}
			<button>Add</button>
			<br>
			<span class="error" font color="red">{{error}}</span>
			{% if comment %}
				<h2>Comments</h2>
					<ul>
					{% for comment in comment %}
						<li>{{comment}}</li>
					{% endfor %}
					</ul>
			{% endif %}
		</form>

{% endblock %}	
	

  
 

	      
		    